<% include ./partials/header %>

<div id="mobileTitle">
	<div id="mobileResults">
		<h1>Search Results</h1>
		<p><%= data.length %> result(s) found.</p>
	</div>

	<br>

	<% for(var i = 0; i < data.length; i++) { %>
		<div id="episode" class="ui raised segment">
			<center><h1><%= data[i]['seriesName']%></h1></center>
			<p>
				<% if(data[i]["banner"] === '') { %>
					<img id="img" class="ui centered small image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png"/>
				<% } else { %>
					<img id="img" class="ui centered image" src="https://www.thetvdb.com/banners/<%= data[i]["banner"] %>"/>
				<% } %>
			</p>
			<% if (data[i]["overview"] === null) { %>
				<center><p>No description available</p></center>
			<% } else { %>
				<p><%- data[i]["overview"].substring(0,300)%>...</p>
			<% } %>
			<a id="infoBtn" class="ui floated basic blue button" href="/series/<%= data[i]["id"] %>">More Info</a>

			<% var isAdded = false;%>
			<% if(currentUser) { %>
				<% for(var j = 0; j < currentUser.series.length; j++) { %>
					<% if(currentUser.series[j] === data[i]["id"]) { %>
						<form action="/results" method="post">
							<input type='hidden' name='seriesId' value='<%= data[i]["id"] %>'>
							<button id="addBtn" class="ui disabled icon green button"><i class="plus circle icon"></i>  Added</button>
						</form>
						<% isAdded = true;%>
					<% } %>
				<% } %>

				<% if(isAdded === false) { %>
					<form action="/results" method="post">
						<input type='hidden' name='seriesId' value='<%= data[i]["id"] %>'>
						<button id="addBtn" class="ui icon green button"><i class="plus circle icon"></i> Add Show </button>
					</form>
				<% } %>
			<% } %>
		</div>
	<% } %>
</div>


<% include ./partials/footer %>
